// Button
.btn {
  background: $pink-light;
  color: white;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 11px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 14px;

  &:active,
  &:hover {
    background: #CBCBCB;
    border-bottom-right-radius: 20px;
    color: black;
  }

  &--primary {
    font-size: 10px;
    letter-spacing: 0;
    padding: 13px 20px;
    text-transform: capitalize;
    background: $primary-color;

    &:active,
    &:hover {
      background: $secondary-color;
      color: $white;
      border-bottom-right-radius: 0;
    }
  }
}
