%heading,
h1, h2, h3, h4, h5, h6 {
  font-family: 'MarkWebProMedium';

  a, a:visited {
    color: $dark-blue;
    &:hover {
      color: $blue;
    }
  }
}

%heading {
  margin-bottom: 10px;
}

h1 { font-size: 350%; line-height: 1.1; letter-spacing: -2px; }
h2 { font-size: 300%; line-height: 1.1; letter-spacing: -2px; }
%h3,
h3 {
  font-size: 250%;
  line-height: 1.1;
  letter-spacing: -1px;
}

%h4,
h4 {
  font-size: 200%;
  line-height: 1.2;
  letter-spacing: -1px;
 }
h5 { font-size: 150%; line-height: 1.2; }
h6 { font-size: 100%; line-height: 1.2; }
@media only screen and (min-width: $large) {
  h1 { font-size: 500%; line-height: 1.1; letter-spacing: -2px; }
  h2 { font-size: 400%; line-height: 1.1; letter-spacing: -2px; }
  h3 { font-size: 300%; line-height: 1.1; letter-spacing: -1px; }
  h4 { font-size: 200%; line-height: 1.2; }
  h5 { font-size: 150%; line-height: 1.2; }
  h6 { font-size: 100%; line-height: 1.2; }
}

p {
  margin-bottom: 1rem;

  &.lead {
    font-size: 125%;
    line-height: 1.4;
    @media only screen and (min-width: $large) {
      font-size: 150%;
    }
  }
}

h6.heading {
  margin-bottom: 10px;
  @media only screen and (min-width: $large) {
    margin-bottom: 20px;
  }
}

blockquote {
  display: block;
  font-size: 150%;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: rem(20px);
  text-align: center;

  @media only screen and (min-width: $large) {
    font-size: 300%;
  }
  p {
    display: inline;
    position: relative;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      content: "\0022";
      left: rem(-20px);
      top: rem(-5px);
    }

    &:after {
      bottom: rem(-10px);
      content: "\0022";
      right: rem(-30px);
    }
  }
}
