$feed-gutter: 20px;

.grid-feed {
  @include clearfix();
  margin-bottom: 50px;
  position: relative;
  padding-top: 88px;

  &__heading {
    margin-bottom: 41px;
    text-align: center;
  }

  &__content {
    align-content: stretch;
    align-items: stretch;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    padding: rem(30px 35px);
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 2;

    @media only screen and (max-width: $medium) {
      padding: rem(15px 20px);
    }
  }


  &__date,
  &__author,
  &__position {
    @include MarkWebProMedium;
    font-size: 21px;
    line-height: 25px;

    @media only screen and (max-width: $tablet) {
      font-size: 14px;
      line-height: 17px;
    }

    @media only screen and (max-width: $medium) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  &__author,
  &__position {
    margin-bottom: rem(3px);
    display: block;
  }

  &__date {
    margin: 0 0 20px;

    @include susy-media(tablet) {
      margin: 0 0 50px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 29px;
    margin: 0 0 20px;
    display: block;

    @media only screen and (max-width: $medium) {
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 10px;
    }

    @include susy-media(tablet) {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 50px;
    }
  }

  &__divide {
    display: block;
    font-size: 21px;
    margin-bottom: rem(3px);

    @media only screen and (max-width: $tablet) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__link {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    a {
      height: 100%;
      left: 0;
      position: absolute;
      text-indent: -999em;
      width: 100%;
    }
  }

  &__item {
    background-size: cover;
    color: white;
    float: left;
    margin: rem(0 $feed-gutter  $feed-gutter 0);
    position: relative;
    text-align: center;
    transition: all 0.2s;

    &:nth-child(7n + 6) {
      background: $dark-cgray;

      .grid-feed__title {
        @include susy-media(tablet) {
          margin: 0 0 20px;
        }
      }

      &:hover {
        background: $dark-blue;
      }
    }

    &:nth-child(7n + 1) {
      &:after {
        background-color: rgba(17, 33, 70, 0.75);
        border-radius: 0px 0px 20px 0px;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition-duration: 0.2s;
        transition: 0.2s;
        width: 100%;
      }

      &:hover {
        &:after {
          background-color: #0D28FF;
          opacity: 0.75;
          transition-duration: 0.2s;
          border-bottom-right-radius: 20px;
        }
      }
    }

    @include susy-media(mobileOnly) {
      $doubleWidthGridFeedItemMobile: calc((((100% - (#{rem($feed-gutter)})) / 2) * 2) + #{rem($feed-gutter)});
      $widthGridFeedItemMobile: calc((100% - (#{rem($feed-gutter)})) / 2);
      padding-bottom: $widthGridFeedItemMobile;

      &:nth-child(7n + 1) {
        padding-bottom: $doubleWidthGridFeedItemMobile;
      }

      &:nth-child(7n + 1),
      &:nth-child(7n + 6) {
        margin-right: 0;
        width: 100%;
      }

      &:nth-child(7n + 2),
      &:nth-child(7n + 4) {
        padding-bottom: $widthGridFeedItemMobile;
        width: $widthGridFeedItemMobile;
      }

      &:nth-child(7n + 4) {
        float: right;
        margin-right: 0;
      }

      &:nth-child(7n + 5) {
        display: none;
      }

      &:nth-child(7n + 6) {
        background: $dark-cgray;
        padding-bottom: $widthGridFeedItemMobile;
      }
    }

    @include susy-media(mobileTabletOnly) {
      &:nth-child(7n + 3),
      &:nth-child(7n + 7) {
        display: none;
      }
    }

    @include susy-media(tabletOnly) {
      $doubleWidthGridFeedItemTablet: calc(((100% - ( 2 * #{rem($feed-gutter)})) / 3) * 2 + #{rem($feed-gutter)});
      $widthGridFeedItemTablet: calc((100% - ( 2 * #{rem($feed-gutter)})) / 3);
      padding-bottom: $doubleWidthGridFeedItemTablet;

      &:nth-child(7n + 1) {
        width: $doubleWidthGridFeedItemTablet;
      }

      &:nth-child(7n + 2),
      &:nth-child(7n + 4) {
        float: right;
        margin-right: 0;
        padding-bottom: $widthGridFeedItemTablet;
        width: $widthGridFeedItemTablet;
      }

      &:nth-child(7n + 5),
      &:nth-child(7n + 6),
      &:nth-child(7n + 7) {
        padding-bottom: $widthGridFeedItemTablet;
      }

      &:nth-child(7n + 5),
      &:nth-child(7n + 7) {
        width: $widthGridFeedItemTablet;
      }

      &:nth-child(7n + 6) {
        background: $dark-cgray;
        margin-right: 0;
        width: $doubleWidthGridFeedItemTablet;
      }
    }

    @include susy-media(desktop) {
      $doubleWidthGridFeedItem: calc(((100% - ( 3 * #{rem($feed-gutter)})) / 2) + #{rem($feed-gutter)});
      $widthGridFeedItem: calc((100% - ( 3 * #{rem($feed-gutter)})) / 4);
      padding-bottom: $doubleWidthGridFeedItem;

      &:nth-child(7n + 1) {
        width: $doubleWidthGridFeedItem;
      }

      &:nth-child(7n + 2),
      &:nth-child(7n + 4) {
        padding-bottom: $widthGridFeedItem;
        width: $widthGridFeedItem;
      }

      &:nth-child(7n + 3) {
        float: right;
        margin-right: 0;
        width: $widthGridFeedItem;
      }

      &:nth-child(7n + 5),
      &:nth-child(7n + 6),
      &:nth-child(7n + 7) {
        padding-bottom: $widthGridFeedItem;
      }

      &:nth-child(7n + 5),
      &:nth-child(7n + 7) {
        width: $widthGridFeedItem;
      }

      &:nth-child(7n + 7) {
        margin-right: 0;
      }

      &:nth-child(7n + 6) {
        background: $dark-cgray;
        width: $doubleWidthGridFeedItem;
      }
    }

    &:hover {
      border-bottom-right-radius: 20px;
      overflow: hidden;
    }

    &--instagram {
      overflow: hidden;
      padding: 0;

      &:before {
        @extend %icons;
        @extend .icon-instagram;
        bottom: 20px;
        font-size: rem(21px);
        left: 20px;
        position: absolute;

        @include susy-media(tablet) {
          font-size: rem(31px);
        }
      }

      &:after {
        background-color: $blue-11;
        border-radius: 0px 0px 20px 0px;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition-duration: 0.2s;
        transition: 0.2s;
        width: 100%;
      }

      &:hover {
        &:after {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          filter: alpha(opacity=50);
          opacity: 0.2;
          transition-duration: 0.2s;
        }
      }
    }

    &--event {
      background: $dark-cgray;

      &:hover {
        background: $dark-blue;
      }
    }

    &--twiter {
      background: $dark-blue;
      cursor: pointer;
      font-size: 18px;

      .grid-feed__content {
        text-align: left;

        @include susy-media(desktopOnly) {
          padding: rem(10px 10px 10px 15px);
        }
      }

      .grid-feed__twiter__title {
        @include MarkWebProMedium;

        @include susy-media(desktopWide) {
          padding-bottom: 5px;
        }
      }

      .grid-feed__twiter__description {
        @include MarkWebProMedium;
        font-size: 80%;

        p {
          margin-bottom: 0;
        }

        @include susy-media(desktopWide) {
          line-height: 25px;
        }

        a {
          color: $white;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .grid-feed__twiter__img {
        margin-bottom: rem(10px);
      }

      &:hover {
        background: $blue;
      }
    }
  }
}
