.hero-banner {
  height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: $desktop) {
    height: 100vh;
  }

  &__image {
    overflow: hidden;
    z-index: 1;

    img {
      bottom: auto;
      height: 100%;
      left: 50%;
      max-width: inherit;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;

      @media only screen and (min-width: $xxlarge) {
        height: auto;
        width: 105%;
      }
    }
  }

  &__inner {
    align-content: stretch;
    align-items: stretch;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 3;
  }

  &__description {
    @include MarkWebProMedium;
    font-size: rem(16px);
    line-height: rem(18px);
    margin-bottom: rem(30px);

    @include susy-media(tablet) {
      font-size: rem(18px);
      line-height: rem(23px);
      margin-bottom: rem(15px);
    }

    @include susy-media(desktopWide) {
      font-size: rem(19px);
      line-height: rem(30px);
      margin-bottom: rem(22px);
    }
  }

  &__link {
    @include clearfix;
    margin-top: 50px;

    @media only screen and (max-width: $tablet) {
      margin-top: 60px;
    }

    @media only screen and (max-width: $medium) {
      margin-top: 15px;
    }

    .btn {
      display: inline-block;
      padding: 15px 120px;

      &:last-of-type {
        margin-left: 20px;
      }

      &:only-child {
        @media only screen and (min-width: $tablet) {
          padding: 15px 60px;
        }
      }

      @media only screen and (max-width: 560px) {
        padding: 15px;
        width: auto;
      }

      @media only screen and (max-width: $large) {
        padding: 15px 35px;
      }

      @media only screen and (min-width: $large) and (max-width: $tablet) {
        padding: 15px 50px;
      }

      @media only screen and (max-width: $medium) {
        display: inline-block;
        margin-left: 0;
        width: 250px;

        &:last-of-type {
          margin-left: 0px;
          margin-top: 20px;
        }
      }
    }
  }

  &--large {
    .hero-banner__image {
      img {
        @media only screen and (min-width: $large) {
          height: auto;
          width: 100%;
        }
      }
    }

    h1,
    .hero-banner__title {
      font-size: 400%;
      font-weight: 900;
      padding: 0 220px;

      @media only screen and (max-width: $xxlarge) {
        padding: 0 80px;
      }

      @media only screen and (max-width: $tablet) {
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 38px;
      }

      @media only screen and (max-width: $large) {
        font-size: 30px;
        padding: 0 30px;
        margin: rem(0 0 40px);
      }

      @media only screen and (max-width: $medium) {
        padding: 0;
      }
    }
  }

  &--small {
    height: rem(400px);

    @media only screen and (min-width: $desktop) {
      height: 454px;
    }

    .hero-banner__subtitle {
      font-weight: 400;
      margin-top: 20px;
    }
  }

  &--medium {
    @include susy-media(desktop) {
      height: 600px;
    }

    .hero-banner__content {
      @include susy-media(desktop) {
        width: 70%;
        margin: 0 auto;
      }
    }

    .hero-banner__heading {
      font-size: rem(30px);
      line-height: rem(30px);
      margin: rem(0 0 15px);
      text-transform: capitalize;

      @include susy-media(tablet) {
        font-size: rem(40px);
        line-height: rem(42px);
      }

      @include susy-media(desktop) {
        font-size: rem(72px);
        line-height: rem(60px);
        margin-bottom: rem(43px);
      }
    }

    .hero-banner__link {
      @include susy-media(mobileOnly) {
        margin-top: rem(20px);
      }
    }
  }
}
