.text-cta {
  &__inner {
    align-items: center;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: rem(200px);
    justify-content: center;
    padding: 0 rem(40px);
    text-align: center;

    @include susy-media(tablet) {
      flex-flow: row nowrap;
      height: rem(100px);
      text-align: left;
    }
  }

  &__text,
  &__cta {
    position: relative;
    z-index: 2;
  }

  &__text {
    @include MarkWebProMedium;
    font-size: rem(22px);
    margin-bottom: rem(20px);
    padding-right: rem(20px);

    @include susy-media(tablet) {
      flex: 1 0 auto;
      margin-bottom: 0;
    }
  }
}
