.header--fixed {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    color: white;
    height: $header-height-small;
    z-index:500;

    .header__logo {
      svg {
        .logo {
          fill: white;
        }
      }
      &:hover {
        svg {
          .logo {
            fill: white;
          }
        }
      }
    }

    .header__nav {
      li {
        a {
          color: white;
          font-weight: bold;
          &:hover {
            color: $pink;
          }
        }
        margin-left: 55px;

        @include susy-media(tabletOnly) {
          margin-left: 40px;
        }

        &.header__burger {
          i {
            background: #fff;
          }
        }
      }
    }
  }
}

.header {
  background: white;
  height: $header-height-small;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 500;

  @media only screen and (min-width: $large) {
    height: $header-height-large;
  }

  @media only screen and (min-width: $xxlarge) {
    height: $header-height-xxlarge;
  }

  .container {
    height: 100%;
  }

  .header__logo {
    font-size: 0;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 59px;

    @media only screen and (min-width: $medium) {
      left: 40px;
      width: auto;
    }

    &:hover {
      svg {
        .logo {
          fill: $blue;
        }
      }
    }

    svg {
      max-width: 100%;
    }
  }

  nav {
    position: static;
  }

  .header__nav {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3000;

    @media only screen and (min-width: $medium) {
      right: 40px;
    }

    li {
      cursor: pointer;
      display: none;
      margin-left: 55px;
      position: relative;
      vertical-align: middle;

      @media only screen and (min-width: $large) and (max-width: $tablet) {
        margin-left: 40px;
      }

      @media only screen and (min-width: $large) {
        display: inline-block;
      }

      &.header__burger {
        display: inline-block;
        height: 16px;
        width: 24px;

        @media only screen and (min-width: $large) {
          display: none;
        }

        i {
          background: $dark-blue;
          height: 2px;
          left: 0;
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          width: 100%;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            top: 50%;
          }

          &:nth-child(3) {
            top: 100%;
          }
        }
      }

      a {
        color: $dark-blue;
        display: block;
        font-size: 110%;
        position: relative;

        &:hover {
          color: $blue;
        }
      }
    }

    .active {
      a {
      font-family: 'MarkWebProMedium';
      }
    }

    .header__nav__more {
      ul {
        background: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
        min-width: 140px;
        opacity: 0;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 35px;
        transform-origin: right top;
        transform: scale(0) translateY(-70px);
        transition: all 0.2s ease-in-out;
        visibility: hidden;

        li {
          display: block;
          margin-bottom: 10px;
          margin-left: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .header__nav__more--open {

      ul {
        opacity: 1;
        transform: scale(1) translateY(0);
        visibility: visible;
      }
    }
  }
  .header__dropdown {
    background: white;
    box-shadow: 0 0 25px rgba(black, 0.1);
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    right: -30px;
    top: 40px;
    transform-origin: 180px -20px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 200px;

    a {
      padding: 10px 20px;
    }

    &.open {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }

  .header__menu {
    background: rgba($blue, 0.95);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;

    @media only screen and (min-width: $large) {
      display: none !important;
    }

    .header__logo {
      top: 40px;

      .user-logged-in & {
        top: 80px;
      }

      &:hover {
        svg {
          .logo {
            fill: #fff;
          }
        }
      }
    }

    .header__nav {
      left: 50%;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);

      li {
        display: block;
        margin: 0 0 10px 0;

        &.menu-item:last-child {
          margin-bottom: 0;
        }

        &.header__burger {
          display: none;
        }

        a {
          font-size: 150%;
          color: white;
        }
      }
    }
  }

  .node--type-approach & {
    height: 85px;
  }
}

